# Build outputs
*.exe
edugrade
*.obj
*.o
*.ilk
*.pdb
*.lib
*.exp
*.dll
*.dylib
*.so
.DS_Store

# IDE
.vs/
.vscode/
*.user
*.suo

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Temp files
err.txt
out.txt
